<%- include('../../views/partials/adminheader') %>
 <div class="side">
    <aside>
        <ul>
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/Products">Products</a> </li>
            <li><a href="/admin/Users">Users</a></li>
            <li><a href="#">Coupons</a></li>
            <li><a href="#">Order</a></li>
            <li><a href="/admin/Offers">Offers</a></li>
            <li class="active"><a href="/admin/category">Category</a></li>
            <li class="sign-out">Sign Out</li>
           
        </ul>
    </aside>
    <main>
        <!-- Header Navigation Bar -->
         <h2> Edit Category</h2>
         <section class="new-form-section">
            <form action="/admin/edit-Category/<%=category._id%>" method="post" class="category-form">   

                <% if (typeof message!== 'undefined') { %>
                    <p class="text-center m-auto" style="color:red;font-size:16px;"><%= message%></p>
                <% } %> 
                           
                <label for="name">Category Name</label>
                <input type="text" id="name" name="name" placeholder="Enter category name" value="<%=category.name%>" required>

                <label for="description">Description</label>
              
                <textarea 
                id="description" 
                name="description" 
                placeholder="Enter category description" 
                required><%= category.description %></textarea>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Status</label>
                    <select class="form-select" id="inputGroupSelect01" name="status" required>
                      <option selected>Choose...</option>
                      <option value=true>Active</option>
                      <option value=false>Inactive</option>
                    </select>
                  </div>
                <div class="form-buttons">
                    <button type="button" class="cancel-button">Cancel</button>
                    <button type="submit" class="submit-button">Save Change</button>
                </div>
            </form>
        </section>
   </main>
</div>
<%- include('../../views/partials/adminfooter') %>