<%- include('../../views/partials/adminheader') %>
 <div class="side ">
    <aside>
        <ul>
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/Products">Products</a> </li>
            <li><a href="/admin/Users">Users</a></li>
            <li><a href="#">Coupons</a></li>
            <li><a href="#">Order</a></li>
            <li class="active"><a href="/admin/Offers">Offers</a></li>
            <li><a href="/admin/category">Category</a></li>
            <li><a href="/admin/salesreport">Sales report</a></li>
        </ul>
    </aside>
    <main>
        <!-- Header Navigation Bar -->
         <h2>Offers</h2>
        <div class="list-header">  
           <div class="search-add">
               <input type="text" placeholder="Search offers..." />
               <button class="add-new"><a class="nav-link" href="/admin/addOffer">Add New</a></button>
           </div>
        </div>
       <table>
           <thead>
               <tr>
                   <th>Offer Title</th>
                   <th>Type</th>
                   <th>Discount</th>
                   <th>Start Date</th>
                   <th>End Date</th>
                   <th>Action</th>
               </tr>
           </thead>
           <tbody>
            <% offer.forEach((offer)=>{%>
               <tr>
                   <td><%= offer.name%></td>
                   <td><%=offer.type%> Offer</td>
                   <td><%= offer.discount%>%</td>
                   <td><%= new Date(offer.startDate).toLocaleDateString() %></td>
                   <td><%= new Date(offer.expireDate).toLocaleDateString() %></td>
                   <td>
                       <!-- <button class="edit-btn">Edit</button> -->
                       <form action="/admin/deleteOffer/<%=offer._id%>" method="POST" style="display:inline;">
                        <button class="delete-btn">Remove</button>
                       </form>
                   </td>
               </tr>
               <%})%>
             
           </tbody>
       </table>
       <!-- Pagination -->
       <div class="pagination">
        <% if (currentPage > 1) { %>
             <a href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
               <% } %> <% for (let i = 1; i <= totalPages; i++) { %> <% if (i ===
                currentPage) { %>
               <span class="current-page"><%= i %></span>
               <% } else { %>
               <a href="?page=<%= i %>"><%= i %></a>
               <% } %> <% } %> <% if (currentPage < totalPages) { %>
               <a href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
               <% } %>
   </div>
  
   </main>
</div>
<%- include('../../views/partials/adminfooter') %>