<%- include('../../views/partials/header') %>
  
   

<section class="order-confirmation">
    <h2 class="thank-you"> Your order Details.</h2>
  
    <div class="order-info">
      <div>
        <h3>Order Info</h3>
        <p><strong>Order ID:</strong> <%= order.orderId %></p>
        <p><strong>Date:</strong> <%= new Date(order.createdAt).toLocaleDateString() %></p>
        <p><strong>Payment Method:</strong> Razorpay</p>
      </div>
      <div>
        <h3>Billing Address</h3>
        <p><strong>City:</strong> <%= order.address.city %></p>
        <p><strong>District:</strong> <%= order.address.street %></p>
        <p><strong>Postcode:</strong> <%= order.address.name %></p>
      </div>
    </div>
  
    <div class="order-details">
      <h3>Order Details</h3>
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
            <% order.orderItems.forEach(item => { %>
              <% if (item.productId) { %>
                <tr>
                  <td><%= item.productId.productName %></td>
                  <td>x <%= item.quantity %></td>
                  <td>₹<%= item.quantity * item.productId.price %></td>
                </tr>
              <% } else { %>
                <tr>
                  <td colspan="3">Product details are unavailable.</td>
                </tr>
              <% } %>
            <% }) %>
          </tbody>
          
        <tfoot>
          <tr>
            <td colspan="2"><strong>Grand Total</strong></td>
            <td><strong>₹<%= order.finalAmount %></strong></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </section>
  
</body>
</html>
