<%- include('../../views/partials/header') %>

<div class="container username-section d-flex">
  <p>Welcome <span style="color: red;"><%= user.name %></span></p>
</div>

<div class="profile-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h3>Manage My Account</h3>
    <ul>
      <li><a href="/profile"><i class="fas fa-user"></i> My Profile</a></li>
      <li><a href="/address" class="active"><i class="fas fa-map-marker-alt"></i> Address</a></li>
      <li><a href="/change-password"><i class="fas fa-lock"></i> Change Password</a></li>
      <li><a href="/order"><i class="fas fa-shopping-cart"></i> Orders</a></li>
      <li><a href="#"><i class="fas fa-tags"></i> Coupons</a></li>
      <li><a href="#"><i class="fas fa-wallet"></i> Wallet</a></li>
    </ul>
  </aside>

  <section class="profile-section">
    <div style="width: 100%;" class="order-details">
    <table >
      <thead>
        <tr>
          <!-- <th>OrderId</th> -->
          <th>Total Amount</th>
          <th>Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% order.forEach((item) => { %>
          <tr>
            <!-- <td><%= item.orderId %></td> -->
            <td><%= item.finalAmount %></td>
            <td><%= new Date(item.createAT).toLocaleDateString() %></td>
            <td><%= item.status %></td>
            <td>
              <button class="edit-btn"><a class="nav-link" href="/orderview/<%= item._id %>">View</a></button>
              <form action="/orderReturn/<%= item.id %>" method="POST" style="display:inline;">
                <button class="delete-btn">Return</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
</div>
  </section>
</div>

<%- include('../../views/partials/footer') %>
