<%- include('../../views/partials/header') %>
<div class="container">
<div class="product-row ">
    <!-- Sidebar for Filters -->
 
    <aside class="filters">
      <form class="filterform" method="get" action="/shopFilter">
        <h2>Filter Products</h2>
        
         

         <!-- Category Filter -->
         <div class="filter-group">
            <label>Category</label>
            <select class="form-select">
                <option value="all">All Categories</option>
                <%for(let i=0;i<category.length;i++){%>
                  <option value="<%=category[i].name%>">
                      <%=category[i].name%>
                  </option>
              <%}%>  
            </select>
        </div>      
            
        <!-- Category Filter -->
        <div class="filter-group">
            <label>Price</label>
            <select name="minPrice" class="form-select">
              <option value="">Min Price</option>
              <option value="0">₹0</option>
              <option value="100">₹100</option>
              <option value="200">₹200</option>
            </select><br>
            <select name="maxPrice" class="form-select">
              <option value="">Max Price</option>
              <option value="100">₹100</option>
              <option value="300">₹300</option>
              <option value="500">₹500</option>
            </select>
        </div>
        
        <!--  -->
        <div><button type="submit" class="btn btn-primary">Apply Filter</button></div>
        </form>
    </aside>

    <!-- Main Content Area -->
    <div class="product-section">
        <!-- Sort Option -->
        <!-- <div class="sort-bar">
        
            <select class="form-select" id="sort">
                <option value="popularity">Sort By</option>
                <option value="popularity">Popularity</option>
                <option value="price-low-to-high">Price: Low to High</option>
                <option value="price-high-to-low">Price: High to Low</option>
                <option value="rating">Rating</option>
            </select>
        </div> -->

        <!-- Products List -->
        <div class="product-list">
            <section class="product-category">
                <div class="product container">
                  <%for(let i=0;i<product.length;i++){%>
                    <div class="card" >
                     
                      <a href="/productDetails/<%= product[i]._id %>"   >
                        <img src="/uploads/<%=product[i].images[0]%>" class="card-img-top" alt="...">
                      </a>
                  <div class="card-body">
                    <h5 class="card-title"><%=product[i].productName%></h5>
                   <h6>
                   Rating  -  <%=product[i].rating%>/5
                    <!-- <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i> -->
                    <!-- <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-regular fa-star-half-stroke" style="color: #FFD43B;"></i> -->
                  </h6>
                    <span class="card-text">₹<%=product[i].price%></span>
                 <form action="/add-to-cart/<%=product[i]._id%>" method="post"><button class=" class btn btn-primary cart-btn"> <i class="fa-solid fa-cart-shopping"></i></button></form>   
                  </div>
                </div>
                
                  <%}%>
                </div>
                </div>
              </section>
        </div>
   </div>
   
</div>

   <nav aria-label="Page navigation">
    
</nav>
</div>
          

           
<%- include('../../views/partials/footer') %>