<%- include('../../views/partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Wishlist</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <div class="wishlist-container">
    <h1>My Wishlist <span>(<%=wishlist.products.length%>)</span></h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Add to cart</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% wishlist.products.forEach((product)=>{%>
      <tr>
        <td><img src="/uploads/<%=product.images[0]%>" alt="Product Image"></td>
        <td><strong><%=product.productName%></strong><br><%=product.category.name%><br><%=product.color%></td>
        <td>₹<%=product.salePrice%></td>
        <td>
          <form action="/add-to-cart/<%=product._id%>" method="post">
            <button class="add-to-cart-btn">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </form>
        </td>
        <td>
          <button class="delete-btn" data-id="<%=product._id%>">
            <i class="fa-sharp fa-solid fa-trash"></i> Remove
          </button>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <script>
    document.querySelectorAll('.delete-btn').forEach(button => {
      button.addEventListener('click', (event) => {
        event.preventDefault(); // Prevent form submission
        const productId = button.getAttribute('data-id');

        Swal.fire({
          title: 'Are you sure?',
          text: "You want remove this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes,remove it!'
        }).then((result) => {
          if (result.isConfirmed) {
            // Submit the form programmatically
            fetch(`/wishlist-delete/${productId}`, {
              method: 'POST',
            })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                Swal.fire(
                  'Removed!',
                  'The product has been removed from your wishlist.',
                  'success'
                ).then(() => {
                  location.reload();
                });
              } else {
                Swal.fire(
                  'Error!',
                  'Something went wrong. Please try again.',
                  'error'
                );
              }
            });
          }
        });
      });
    });
  </script>
</body>
</html>
